{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog</title>
    <link rel="stylesheet" type="text/css" href="../static/blog/css/base.css"> 
    {% block css %}
    
    {% endblock%}
    <!-- <link rel="stylesheet" type="text/css" href="../static/blog/css/profile.css">  -->
</head>
<body>
    <div class="nav">
    <div class="upper">
    <div class="header"><span>YourBlog</span></div>
    <div class="onsmall" id="onsmall">
    <div class="coversmall fa fas-bar">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    </div>
    </div>
    <div class="lower" id="navlower">
    <ul>
        <li class="li1"><a href="{% url 'bloghome' %}" style="text-decoration: none;color: black;">Home</a></li>
        {% if request.user.id is None %}
            <li class="li3"><a href="{% url 'register' %}" style="text-decoration: none;color: black;">Register</a></li>
            <a href="{% url 'login' %}" style="text-decoration: none;color: black;">Login</a>
        {% else %}
         <li class="li2"><a href="{% url 'profile' %}" style="text-decoration: none;color: black;">Profile</a></li>
        <li class="li4"><a href="{% url 'loggedout' %}" style="text-decoration: none;color: black;">Logout</a></li>
        {% endif %}
         <li class="li4"><a href="{% url 'addpost' %}" style="text-decoration: none;color: black;">AddPost</a></li>
       
    </ul>
    </div>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
<script>
    const d = document.getElementById("onsmall")
    const l = document.getElementById("navlower")
    d.addEventListener('click',function(){
       if (l.className === 'lower'){
           l.className += ' responsive'
       }
       else{
           l.className = 'lower'
       }
    })
</script>
</html>