{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}?{% now "U" %}"> 
    {% block css %}
    
    {% endblock%}
</head>
<body>
    <div class="nav">
    <div class="upper">
    <div class="header"><span>YourBlog</span></div>
    <div class="onsmall" id="onsmall">
    <div class="coversmall fa fas-bar" id="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    </div>
    </div>
    <div class="lower" id="navlower">
    <ul>
        <li class="li1"><a href="{% url 'bloghome' %}" style="text-decoration: none;color: whitesmoke;">HOME</a></li>
        {% if request.user.id is None %}
            <li class="li3"><a href="{% url 'register' %}" style="text-decoration: none;color: whitesmoke;">REGISTER</a></li>
            <a href="{% url 'login' %}" style="text-decoration: none;color: whitesmoke;">LOGIN</a>
        {% else %}
         <li class="li2"><a href="{% url 'profile' %}" style="text-decoration: none;color: whitesmoke;">PROFILE</a></li>
        <li class="li4"><a href="{% url 'loggedout' %}" style="text-decoration: none;color: whitesmoke;">LOGOUT</a></li>
        {% endif %}
         <li class="li4"><a href="{% url 'addpost' %}" style="text-decoration: none;color: whitesmoke;">ADDPOST</a></li>
       
        </ul>
        <div class="searchbar">
            <form method="post" action="{% url 'bloghome' %}">
                {% csrf_token %}
                <input type="text" placeholder="search a post" name="title">
                <button  type="submit" name="search">search</button>
            </form>
        </div>
    </div>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
<script>
    const d = document.getElementById("hamburger")
    const l = document.getElementById("navlower")
    d.addEventListener('click',function(){
       if (l.className === 'lower'){
           l.className += ' responsive'
       }
       else{
           l.className = 'lower'
       }
    })
</script>
</html>