{% extends 'blog/base.html' %}


{% block content %}


{% for blog in blogs %}
<div class="main">           
        <div class="container">
            <div class="title"><p>{{ blog.title }}</p></div>
            <div class="subtitle"><p>{{ blog.sub_title}}</p></div>
            <div class="content"><a href=""><p>{{ blog.content }}...</p></a></div>
        <div class="userdetail">
            <p>posted by:-<a href="{% url 'userprofile' blog.user.username %}">{{blog.user }}</a></p>
            <p>{{ blog.date }}</p>
        </div>
    </div> 
</div>


{% endfor %}
{% endblock %}
