{% extends 'blog/base.html' %}
{% load static %}

{% block css %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static  'blog/css/userimage.css' %} "> -->

{% endblock %}

{% block content %}


{% for blog in page_obj %}
<div class="main">      
        <div class="container">
            <div class="upper-wrapper">
                <div class="userimage">
                <a href="{% url 'userprofile' blog.user.username %}"><img src={{ blog.user.profile.image.url }}></a>
                </div>
            <div class="lower-wrapper">     
                <div class="title"><span>{{ blog.title }}</span></div>
                <div class="subtitle"><p>{{ blog.sub_title}}</p></div>
                </div>
            </div>
            <div class="content"><p>{{ blog.content }}</p></div>
        <div class="userdetail">
            <p>posted by:-<a href="{% url 'userprofile' blog.user.username %}">{{ blog.user }}</a></p>
            <p>{{ blog.date }}</p>
        </div>
    </div> 
</div>



{% endfor %}

<div class="sidebar">
    <div class="link">
    <a href="">most recent</a>
    <a href="">last week</a>
    <a href="">last month</a>
    </div>
</div>

<div class="paginator">
    {% if page_obj.has_previous %}
    <div class="prev"><a class="pagelink" href="?page={{ page_obj.previous_page_number }}">&larr;</a></div>
    {% endif %}
    {% if page_obj.has_next %}
    <div class="next"><a class="pagelink" href="?page={{ page_obj.next_page_number }}">&rarr;</a></div>
    {% endif %}
</div>


{% endblock %}
