{% extends 'blog/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/profile.css' %}?{% now "U" %}">
{% endblock %}


{% block content %}
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    
    <div class="inputtags">
        {% if messages %}

        {% for message in messages %}

            {{ message }}

        {% endfor %}

        {% endif %}
    </div>

    
    {% endfor %}
    {% endif %}
    <div class="profilecontainer">
    <div class="box-profile">
        <div class="upper-profile">
        <div class="profilepic"><img src="{{ request.user.profile.image.url }}" alt="img"></div>
        <div class="profiledetails">
            <div class="name"><span>{{ request.user.username }}</span></div>
            <div class="pro-det"><p>{{ request.user.profile.age }}</p></div>
            <div class="pro-det"><p>{{ request.user.profile.state }}</p></div>
            <div class="pro-det"><p>{{ request.user.profile.about }}</p></div>
            <a href="{% url 'updateprofile' %}"><button class="btn">UPDATE</button></a>
        </div>
        </div>
        </div>
    </div>

    {% for post in posts %}
    <div class="profilecontainer">
        <div class="box-profile">
            <div class="lower-profile">
                <div class="userposts">
                    <div class="subtitle"><h2>{{ post.title }}</h2></div>
                    <div class="subtitle"><p>{{ post.sub_title }}</p></div>
                    <div class="subtitle"><p>{{ post.content|truncatewords:13 }}</p></div>
                </div>
                <div class="pp-image-wrapper"><img src="{{post.post_image.url}}" alt=""></div>
            </div>
            {% if request.user.username is not None %}
                <div class="edit">
                    <a href="{% url 'updatepost' post.blog_id %}"><button class="update btn">UPDATE</button></a>
                    <a href="{% url 'deletepost' post.blog_id %}"><button class="delete btn">DELETE</button></a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}