{% extends 'blog/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/profile.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="profilecontainer">
    <div class="box-profile">
        <div class="upper-profile">
        <div class="profilepic"><img src="{{ user.profile.image.url }}" alt="img"></div>
        <div class="profiledetails">
            <div class="name"><span>{{ user.username }}</span></div>
            <div class="age"><span>{{ user.profile.age }}</span></div>
            <div class="state"><span>{{ user.profile.state }}</span></div>
            <div class="about"><span>{{  user.profile.about }}</span></div>
        </div>
        </div>
        </div>
    </div>

    {% for post in posts %}
    <div class="profilecontainer">
    <div class="box-profile">
        <div class="lower-profile">
            <div class="userposts">
                <div class="subtitle"><h2>{{ post.title }}</h2></div>
                <div class="subtitle"><p>{{ post.sub_title }}</p></div>
                <div class="subtitle"><p>{{ post.content|truncatewords:13 }}</p></div>
            </div>
            <div class="pp-image-wrapper"><img src="{{post.post_image.url}}" alt=""></div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}