{% extends 'blog/home.html' %}
{% load static %}
{% block css%}

<link rel="stylesheet" type="text/css" href="{% static 'blog/css/userlist.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/home.css'%}">

{% endblock %}
{% block content %}

{% if post_list %}
<div class="main">   
  <div class="container">
    <div class="upper-wrapper">
        <div class="upper-wrapper">USER AND THEIR BLOGS</div>
        <!-- <div>No. of blogs</div> -->
    </div>
    {% for i in post_list %}
    <a href="{% url 'userprofile' i.0 %}">
      <div class="wrapper">
        <div class="user-name">{{ i.0 }}</div>
        <div class="arrow">---></div>
        <div class="posts">{{ i.1 }}</div>
      </div></a>
    {% endfor %} 
  </div>
</div>
{% else %}

<div class="main">   
    <div class="container">
      <div class="upper-wrapper">
        <div class="userimage">
            <a href="{% url 'userprofile' post.user.username %}"><img class="img-wrapper" src={{ post.user.profile.image.url }}></a>    
        </div>
        <div class="post-title">
            <div class="subtitle"><span>{{ post.sub_title|truncatechars:20 }}</span></div>
        </div>
    </div>   
    <div class="userlist-middle">
      <div class="userlist-image"><img src="{{ post.post_image.url }}" alt=""></div>
      <div class="userlist-content"><span>{{ post.content }}</span></div>
    </div>
        <div class="userdetail">
            <span>posted by:-<a href="{% url 'userprofile' post.user.username %}">{{ post.user }}</a></span>
            <span>{{ post.date }}</span>
        </div>
          <div class="bottom-wrapper">
            <span class="likelike" ><span class="like">{{ post.likes }} likes</span></span>
                {% if post in liked_blogs %}
                    <a href="{% url 'unlike-post' post.blog_id %}"><div class="like"><span>dislike</span></div></a>
                {% else %}
                    <a href="{% url 'like-post' post.blog_id %}"><div class="like"><span>like</span></div></a>
            {% endif %}
        </div>
</div>
</div>

{% endif %}
{% endblock %}